:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {

    background: var(--bg);
    
    }
    
    ul {
    
    font-family: helvética;
    
    }

    li {

        list-style: circle;
        
        }
        
    .list {
        
        list-style: square;
        
        }

    .light-theme {
            
            --bg: var(--green);
            --fontColor: var(--black);
            --btnBg:var(--black);
            --btnFontColor:var(--white);

            }

    .dark-theme {

            --bg: var(--black);
            --fontColor: var(--green);
            --btnBg:var(--white);
            --btnFontColor:var(--black);
        }

    .btn {
        position: absolute;
        top: 20px;
        left: 250px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        color: var(--btnFontColor);
        background-color: var(--btnBg);
    
    }

    .btn:focus { outline-style: none; }

    


